*{
	margin:0;
	padding: 0;
}

body{
        overflow-x:hidden; 
    }

.container{
	width: 1140px;  
    display: flex;
    margin: 10px auto;
    box-sizing: border-box;
    padding: 20px;
    justify-content: center;   
    font-family: 'Lora', serif;
}

.container .card{
	margin: 5px auto;
	margin-top: auto;
	box-sizing: border-box;
	display:flex;
	border: 2px solid #e6e6e6;
    padding: 10px;
}

.hero img{
	width: 400px;
	height: 100%;
}

.content .header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content img{
	width: 20%;
}

.header{
	margin-bottom: auto;
}

.header .loginbtn{
	width: 50%;
	height: 50px;
	border-radius: 50px;
	margin-left: 30%;
	border-color: #D6893A;
	background-color: #fff;

}

.header .loginbtn:hover{
	    width: 50%;
	    margin-left:30%; 
        border-radius:30px;
        background-color:#ddd;
        border:1px solid #D6893A;
}

.content .title{
	margin-bottom: auto;
}

.content .title h1{
	 font-family: 'Montserrat', sans-serif;
	 font-weight: bold;
	 font-size: px;
}

.input-group{
	width: ;
}

#signup{
        width: 100%;
        border-radius: 50px;
        background-color:#D6893A;
        border: 1px solid #D6893A;
    }
    
    #signup:hover{
        width: 100%;
        border-radius:30px;
        background-color:#AB6D2E;
        border:1px solid #D6893A;
    }

.footer{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        opacity: 80%;
    }

    .footer hr{
        border: 1px solid #D6893A;
        opacity: 20%;
        margin-right: 50px;
        margin-left: 50px;
    }